@using DevExpress.ExpressApp.Blazor
@using DevExpress.ExpressApp.Blazor.Templates

@inherits FrameTemplateComponentBase<MypeNestedFrameTemplate>

<div class="nested-frame" data-frame-name="@FrameTemplate.View?.Caption">
    @if(FrameTemplate.IsActionsToolbarVisible && FrameTemplate.Toolbar.ContainsVisibleActionControl()) {
        <div class="nested-toolbar pb-3">
            @FrameTemplate.Toolbar.GetComponentContent()
        </div>
    }
    <div class="nested-content pb-2">
        <ViewSiteComponent View="@FrameTemplate.View" />
    </div>
</div>

@code {
    public static RenderFragment Create(MypeNestedFrameTemplate nestedFrameTemplate) => @<MypeNestedFrameTemplateComponent FrameTemplate="@nestedFrameTemplate" />;
}
