@using DevExpress.ExpressApp.Blazor.Components
<SplashScreenComponent>
    <LoadingIndicator>
        <img class="rounded text-white p-3" src="@ImagePath" />
        <div class="loader"></div>
    </LoadingIndicator>
</SplashScreenComponent>
@code {
    [CascadingParameter(Name = "ImagePath")]
    protected string ImagePath { get; set; }
}